
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.traffic-light-container { /*  Carcasa */
    width: 140px; /* Ancho del contenedor */
    height: 400px; /* Alto del contenedor */
    background-color: black; /* Color de fondo de la carcasa */
    padding: 20px; /* Espacio alrededor del semáforo */
    border-radius: 20px; /* Bordes redondeados */
    position: relative; /* Posición relativa para posicionar las luces */
  }

/*  En el JSX, estás utilizando clases como "light, "green", "red", yellow", y "active" para aplicar estilos específicos a cada luz del semáforo */
.light.red.active {
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.5); /* Sombras rojas */
  }
  
.light.yellow.active {
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.5); /* Sombras amarillas */
  }
  
.light.green.active {
    box-shadow: 0 0 20px 10px rgba(0, 128, 0, 0.5); /* Sombras verdes */
  }
  